<h1>Upload a PDF or Word to Summarize</h1>

<%= form_with model: @document, url: documents_path, local: true, multipart: true do |form| %>
  <div>
    <%= form.label :file %>
    <%= form.file_field :file %>
  </div>
  <div>
    <%= form.submit "Upload" %>
  </div>
<% end %>
