<h1>Docment Summary</h1>

<h2>Original Text</h2>
<p><%= @document.original_text %></p>

<h2>Summary</h2>
<p><%= @document.summary_text %></p>

<%= link_to 'Upload Another PDF or Word', new_document_path %>
